In [1]:
import pandas as pd

In [2]:
cf_data = pd.read_excel("Resources/crowdfunding.xlsx")

In [3]:
cf_data.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [4]:
df = cf_data[['cf_id','category & sub-category']].copy()

In [5]:
category_df = df['category & sub-category'].str.split("/", expand=True)
subcategory_df = category_df

In [6]:
category_df = category_df[[1,0]]

In [7]:
category_df = category_df.rename(columns={1:'category_id',0:"category"})
category_df

     category_id    category
0    food trucks        food
1           rock       music
2            web  technology
3           rock       music
4          plays     theater
..           ...         ...
995  food trucks        food
996        plays     theater
997        plays     theater
998   indie rock       music
999  food trucks        food

[1000 rows x 2 columns]

In [8]:
category_df = category_df.drop_duplicates("category")
category_df= pd.DataFrame(category_df)

In [9]:
category_df = category_df.reset_index()

In [10]:
category_df = category_df.drop(['index'],axis=1)
category_df

         category_id      category
0        food trucks          food
1               rock         music
2                web    technology
3              plays       theater
4        documentary  film & video
5         nonfiction    publishing
6        video games         games
7  photography books   photography
8              audio    journalism

In [11]:
for x in range(len(category_df)):
    category_df["category_id"][x]=f"subcat{x+1}"

In [12]:
category_df

  category_id      category
0     subcat1          food
1     subcat2         music
2     subcat3    technology
3     subcat4       theater
4     subcat5  film & video
5     subcat6    publishing
6     subcat7         games
7     subcat8   photography
8     subcat9    journalism

In [13]:
df.to_csv('category.csv')

In [15]:
subcategory_df = subcategory_df.drop_duplicates(1)

                0                  1
0            food        food trucks
1           music               rock
2      technology                web
4         theater              plays
6    film & video        documentary
9           music     electric music
10   film & video              drama
13          music         indie rock
15     technology          wearables
16     publishing         nonfiction
17   film & video          animation
25          games        video games
29   film & video             shorts
37     publishing            fiction
38    photography  photography books
43     publishing   radio & podcasts
50          music              metal
55          music               jazz
78     publishing       translations
109  film & video         television
120         games       mobile games
133         music        world music
210  film & video    science fiction
490    journalism              audio

In [18]:
# subcategory_df = pd.DataFrame(subcategory_df)
subcategory_df = subcategory_df.rename(columns={0:"subcategory_id",1:"subcategory"})
subcategory_df = subcategory_df.reset_index()
subcategory_df

    index subcategory_id        subcategory
0       0           food        food trucks
1       1          music               rock
2       2     technology                web
3       4        theater              plays
4       6   film & video        documentary
5       9          music     electric music
6      10   film & video              drama
7      13          music         indie rock
8      15     technology          wearables
9      16     publishing         nonfiction
10     17   film & video          animation
11     25          games        video games
12     29   film & video             shorts
13     37     publishing            fiction
14     38    photography  photography books
15     43     publishing   radio & podcasts
16     50          music              metal
17     55          music               jazz
18     78     publishing       translations
19    109   film & video         television
20    120          games       mobile games
21    133          music        world music
22    210   film & video    science fiction
23    490     journalism              audio

In [19]:
for x in range(len(subcategory_df)):
    subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
subcategory_df

C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"
C:\Users\vallk\AppData\Local\Temp\ipykernel_22796\2700678047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subcategory_df["subcategory_id"][x]=f"subcat{x+1}"

    index subcategory_id        subcategory
0       0        subcat1        food trucks
1       1        subcat2               rock
2       2        subcat3                web
3       4        subcat4              plays
4       6        subcat5        documentary
5       9        subcat6     electric music
6      10        subcat7              drama
7      13        subcat8         indie rock
8      15        subcat9          wearables
9      16       subcat10         nonfiction
10     17       subcat11          animation
11     25       subcat12        video games
12     29       subcat13             shorts
13     37       subcat14            fiction
14     38       subcat15  photography books
15     43       subcat16   radio & podcasts
16     50       subcat17              metal
17     55       subcat18               jazz
18     78       subcat19       translations
19    109       subcat20         television
20    120       subcat21       mobile games
21    133       subcat22        world music
22    210       subcat23    science fiction
23    490       subcat24              audio

In [22]:
subcategory_df = subcategory_df.drop(["index"],axis=1)

In [23]:
subcategory_df.head(5)

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2         rock
2        subcat3          web
3        subcat4        plays
4        subcat5  documentary

In [24]:
subcategory_df.to_csv("subcategory.csv")